html {
    height: 100%;
    box-sizing: border-box;
}

*,
 *:before,
 *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
}

.home-welcome p {
    line-height: 1.6em;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: .02em;
    text-transform: none;
    text-align: left;
}


p a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $global-link-underline-color;

    [theme=dark] & {
        border-bottom-color: $global-link-underline-color-dark;
    }
}

.single .content a {
    color: $global-font-color;

    [theme=dark] & {
        color: $global-font-color-dark;
    }

}

.summary-pub {
    display: flex;
    padding-top: 1rem;
    padding-bottom: .8rem;
    color: $global-font-color;
    border-bottom: 1px dashed $global-border-color;

    [theme=dark] & {
      color: $global-font-color-dark;
      border-bottom: 1px dashed $global-border-color-dark;
    }

    .evidence {
        background-image: linear-gradient(to bottom, rgba(39,243,106,0.15), rgba(39,243,106,0.15));
    }

    .featured-thumb-preview {
      width: 200px;
      min-width: 200px;
      position: relative;
      margin: 0.6rem auto;
      @include transition(transform 0.4s ease);

      img {
        position: absolute;
        width: 190px;
        max-width: 100%;
        left: 0;
        top: 0;

        &.lazyloaded {
          @include object-fit(cover);
        }
      }

      &:hover {
        @include transform(scale(1.01));
      }
    }

    .single-title {
      font-size: 1.25rem;
      line-height: 140%;
      margin: 0.4rem 0;
    }

    .content {
      @include box(vertical);
      -webkit-line-clamp: 3;
      margin-top: .3rem;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      @include overflow-wrap(break-word);
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }

      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 1rem;
        line-height: 1.5;
        display: inline;

        &::after {
          content: "\A";
          white-space: pre;
        }
      }

      h2 {
        font-size: 1.125rem;
      }

      @include link(false, true);

      b, strong {
        color: $global-font-secondary-color;

        [theme=dark] & {
          color: $global-font-secondary-color-dark;
        }
      }
    }
}
.post-meta-pub {
    color: $global-font-color;

    [theme=dark] & {
        color: $global-font-color-dark;
    }
}

.post-meta-pub a {
  font-size: 1rem;
  color: $global-font-color;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $global-link-underline-color;
  text-decoration: none;

  [theme=dark] & {
      color: $global-font-color-dark;
      border-bottom-color: $global-link-underline-color-dark;
  }
}

.menu-item {
    text-decoration: none;
}

.date {
  font-weight: 300;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p a.lightgallery {
  border-bottom-width: 0;
  border-bottom-style: none
}