@import url('https://use.typekit.net/veo7akz.css');
$global-font-family: "europa";
$global-font-size: 18px !default;
$global-font-weight: 300 !default;
$global-line-height: 1.6rem !default;

// Color of the text
$global-font-color: #333333 !default;
$global-font-color-dark: #a9a9b3 !default;

// Color of the secondary text
$global-font-secondary-color: #888888 !default;
$global-font-secondary-color-dark: #5d5d5f !default;

// Color of the link
$global-link-color: #161209 !default;
$global-link-color-dark: #a9a9b3 !default;

// Color of the link underline
$global-link-underline-color: rgba(17,17,17,0.3) !default;
$global-link-underline-color-dark: #a9a9b3 !default;