{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary-pub" itemscope itemtype="http://schema.org/Article">
    {{- /* Featured image */ -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-thumb-preview">
            <a href="{{ $.RelPermalink }}">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/thumb.html" -}}
            </a>
        </div>
    {{- end -}}

    {{- /* Meta */ -}}
    <div class="post-meta-pub">
        <span class="evidence"><a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a>.&nbsp;</span> 
        {{- $authors := $params.authors -}}
        {{- $pubin := $params.in -}}
        {{- $pubyear := $params.year -}}
        <span class="post-author">
            {{- $options := dict "In" $pubin "Year" $pubyear "Content" $authors -}}
            {{- partial "plugin/pub-stub.html" $options -}}
        </span>
    </div>

</article>